
#include "i3d_base.xcconfig"

ALWAYS_SEARCH_USER_PATHS        = YES
USER_HEADER_SEARCH_PATHS        = $(I3D_INCLUDES) $(I3D_INCLUDES_LIBS) $(PROJECT_DIR) $(I3D_INCLUDES_TOOL)
HEADER_SEARCH_PATHS             = $(I3D_INCLUDES) $(I3D_INCLUDES_LIBS) $(PROJECT_DIR) $(I3D_INCLUDES_TOOL)

CONFIGURATION_BUILD_DIR         = $(I3D_BUILD_DIR_OUT)
CONFIGURATION_TEMP_DIR          = $(I3D_BUILD_DIR_INT)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited)
GCC_PREFIX_HEADER               = builder.pch
GCC_PRECOMPILE_PREFIX_HEADER    = YES

USE_HEADERMAP                   = NO

FRAMEWORKS                      = -lz -framework cocoa -framework foundation
OTHER_LDFLAGS                   =  $(FRAMEWORKS) -L$(I3D_BUILD_DIR_OUT) $(ASSIMP_LINK) -ltoolapp 
