#include "i3d_base.xcconfig"

ASSIMP_ROOT                     = $(I3D_ROOT)/../../libs/assimp-5.2.3
ASSIMP_INCLUDE                  = $(ASSIMP_ROOT)/include $(ASSIMP_ROOT)/build/macos/include
ASSIMP_LINK                     = -L$(ASSIMP_ROOT)/build/macos/lib/Release  -lassimp
ASSIMPL_CONTRIB_LINK            = -L$(ASSIMP_ROOT)/build/macos/contrib/irrXML/Release -lIrrXML
